<section data-ng-controller="ProjectsController" data-ng-init="findOne()">

    <h2>{{project.title}} <a data-ng-show="global.user._id == project.owner._id" href="/#!/projects/{{project._id}}/edit">edit</a></h2>
    <span>{{project.created | date:'medium'}}</span> /
    <span>{{project.owner.name}}</span>
    <div>{{project.description}}</div>
    <div class="project-list-members">
        Project members:<span data-ng-repeat="member in project.members" class="project-member">{{ member.name }}, </span>
    </div>
</section>